{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5 bg-info">
    <h1>Salle</h1>

    <table class="table table-striped table-dark w-50 mx-auto shadow p-3 mb-5 rounded">
        <tbody>
            <tr>
                <th class="text-center">Id</th>
                <td>{{ salle.id }}</td>
            </tr>
            <tr>
                <th class="text-center">Numero</th>
                <td>{{ salle.numero }}</td>
            </tr>
            <tr>
                <th class="text-center">Nbplaces</th>
                <td>{{ salle.nbPlaces }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="nav">
        <li class="nav-items">
            <a class="mr-5 btn btn-sm btn-success " href="{{ path('salle_index') }}">Back to the list</a>
        </li>
        <li class="nav-items">
            <a class="mr-5 btn btn-sm btn-success " href="{{ path('salle_edit', { 'id': salle.id }) }}">Edit</a>
        </li>
        <li class="nav-items">
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
